<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Temperature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Temperature</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input type="number" clear-input=true [(ngModel)]="fromValue" placeholder="<Input>" (ionBlur)="onChange();">
  </ion-input>
  <ion-input type="number" [(ngModel)]="toValue" readonly></ion-input>
  
  <ion-label>{{fromSelectedUnit.unitDesc}}</ion-label>
  <ion-label>{{toSelectedUnit.unitDesc}}</ion-label>

  <ion-button size="large" (click)="showPicker()">
    Select Unit
  </ion-button>

</ion-content>