<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="temperatureTab">
      <ion-icon name="thermometer"></ion-icon>
      <ion-label>Temperature</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lengthTab">
      <ion-icon name="crop"></ion-icon>
      <ion-label>Length</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="areaTab">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Area</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="capacityTab">
      <ion-icon name="flask-outline"></ion-icon>
      <ion-label>Capacity</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
